snippet !now "inster current tie" w
`!v strftime("%H:%M")`
endsnippet

snippet !date "inster current date" w
`!v strftime("%Y-%m-%d")`
endsnippet

snippet !time "inster current date" w
"`!v strftime("%Y-%m-%d %H:%M")`"
endsnippet

snippet !put "paste from the clibber" wA
	`!v getreg('+')`
endsnippet

snippet thefile "put current file name" w
`!v expand('%:p')`
endsnippet

snippet thepwd "put current working directory" w
`! pwd`
endsnippet
