snippet !now "inster current tie" w
`!v strftime("%H:%M:%S")`
endsnippet

snippet !date "inster current date" w
`!v strftime("%Y-%m-%d")`
endsnippet

snippet !time "inster current date" w
"`!v strftime("%Y-%m-%d %H:%M")`"
endsnippet

snippet !put "paste from the clibber" wA
	`!v getreg('+')`
endsnippet



