# refference https://github.com/gillescastel/latex-snippets/blob/master/tex.snippets



snippet sum "sum" w
\sum_{n=${1:1}}^{${2:\infty}} ${3:a_n z^n}
endsnippet


snippet lim "limit" w
\lim_{${1:n} \to ${2:\infty}} 
endsnippet

snippet !time "inster current tie" w
>`!v strftime("%H:%M:%S")`
endsnippet


snippet indent
endsnippet
