snippet imtroch "import torch" b
import torch
from torch.utils.data import Dataset
endsnippet

snippet tordata "torch dataset" b
class Mydataset(Dataset):
    def __init__(self,path=''):
        self.data = np.load(path)
    def __getitem__(self,index):
        return self.x[index], self.y[index]
    def __len__(self):
        return len( self.x )
dataset = Mydataset()
endsnippet

snippet imtorch "import torch" b
import torch
endsnippet
