snippet mmain "main qt window" b
import sys
from PyQt5.QtWidgets import QApplication, QWidget, QLabel
from PyQt5.QtGui import QIcon
from PyQt5.QtCore import pyqtSlot

def window():
	app = QApplication(sys.argv)
	widget = QWidget()

	textLabel = QLabel(widget)
	textLabel.setText("this is a good day")
	textLabel.move(100,105)

	widget.setGeometry(200,200,700,200)
	widget.setWindowTitle("PyQt5 Example")
	widget.show()
	sys.exit(app.exec_())

if __name__ == '__main__':
	window()
endsnippet
